 <div class="ui-kit">
    <h1 class="ui-kit__title">Ui-kit</h1>

    <table class="ui-kit__table">
        <thead>
            <tr>
                <th>Component</th>
                <th>Ui presentation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Button primary</td>
                <td><button class="button button--primary">Button</button></td>
            </tr>
             <tr>
                <td>Button secondary</td>
                <td><button class="button button--secondary">Button</button></td>
            </tr>
        </tbody>
    </table>
</div>